{% extends "layout.html" %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{% block title %}Assign Roles{% endblock %}
{% block content %}
<h1 class="text-center">Assign Roles</h1>
<div class="column">
    <form class="form form-horizontal " id="form-id" role="form" method="POST">
        <div class="form-group ">
            <div class="col-lg-12 ">
                <div class="input-group mb-3">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input class="form-control"  id="input-id" name="username" placeholder="username" value="{{username}}" />
                    <input class="btn btn-secondary col admin-button" type="submit" value="Search" />
                    <input class="btn btn-secondary col admin-button" type="reset" value="Reset" onclick="document.getElementById('input-id').value='';document.getElementById('form-id').submit();"/>
                </div>
            </div>
        </div>
    </form>
    <div class="column1">
        <form id="assign" method="POST">
            {% if username %}
            <input name="username" type="hidden" value="{{username}}" />
            {% endif %}
            <input class="btn btn-primary" type="submit" value="Assign Selected" />
        </form>
        
    </div>
</div>



<div class="admin-tables">

    <div class="container">
        <h1 class="text-center">Users {{length}}</h1>
        {% if roles|length == 0 %}
        <h1>No Roles</h1>
        {% else %}


        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Select</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>All Roles</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td><input class="form-check-input me-1" form="assign" name="user_id[]" type="checkbox"
                            value="{{user.id}}" /></td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{% if user.roles|length > 0 %}
                        {% for assoc in user.roles %}
                        <form action="/admin/role/unassign" method="POST">
                            {% if username %}
                            <input name="username" type="hidden" value="{{username}}" />
                            {% endif %}
                            <input name="role_id" type="hidden" value="{{assoc.role.id}}" />
                            <input name="user_id" type="hidden" value="{{user.id}}" />
                            <button class="bg-transparent" style="border:none">
                                <span class="badge bg-primary rounded-pill">{{assoc.role.name}} <span
                                        class="pl-1 badge bg-danger rounded-pill">x</span></span>
                            </button>
                        </form>
                        {% endfor %}
                        {% else %}
                        <span>No Roles</span>
                        {% endif %}
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif%}

    <div class="container">
        <h1 class="text-center">Roles</h1>
        {% if roles|length == 0 %}
        <h1>No Roles</h1>
        {% else %}
        <table class="table table-dark table-bordered ">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Role</th>
                    <th>No.Of Users</th>
                </tr>
            </thead>
            <tbody>
                {% for role in roles %}
                <tr>

                    <td><input class="form-check-input me-1" form="assign" name="role_id[]" type="checkbox"
                            value="{{role.id}}" /></td>
                    <td>{{role.name}} </td>
                    <td>{{role.users|length}}</td>
                </tr>
                {% endfor %}

            </tbody>

        </table>
        {% endif %}
    </div>


</div>
<script>
function myFunction() {
form.submit();
}
</script>
{% endblock %}