<!doctype html>
<html>

<head>
    {% block head %}
    {% include "bootstrap.html" %}
    <title>{% block title %}{% endblock %} - My calc</title>


    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>

<body>
    <div class="navigationbar">
        <div class="mainnavbar">
            <a class="logo" href="#">MyCALC</a>

            <div class="rightnav">
                {% if current_user.is_anonymous %}
                <div class="r-nav">
                    <a class="join" href="{{ url_for('auth.login') }}">Login</a>
                    <a class="signin" href="{{ url_for('auth.register') }}">Register</a>
                </div>
                {% else %}
                <div>

                    <ul class="nav navbar-nav m-nav">
                        <li class="active"><a href="{{ url_for('auth.home') }}">Home</a></li>
                        <li><a href="{{ url_for('auth.profile') }}">Profile</a></li>
                        {% if current_user.has_role("Admin") %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('admin.create_role') }}">Create Roles</a></li>
                                <li><a href="{{ url_for('admin.list_roles') }}">List Roles</a></li>
                                <li><a href="{{ url_for('admin.assign_roles') }}">Assign Roles</a></li>
                            </ul>

                        </li>
                        {% endif %}
                        <li><a href="{{ url_for('auth.logout') }}" class="signin">Logout</a></li>
                    </ul>

                </div>
                {% endif %}
            </div>
        </div>

    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="container">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} hide-alert">{{ message }}<button type="button" class="close"
                data-dismiss="alert">&times;</button></div>

        {% endfor %}

    </div>
    {% endif %}
    {% endwith %}


    <div class="container-fluid" id="content">{% block content %}

        {% endblock %}</div>
    <div id="footer">
        <p class="text-center"> &copy; Copyright 2022.</p>


    </div>
    <script>setTimeout(() => {
            var els = document.getElementsByClassName("hide-alert");

            Array.prototype.forEach.call(els, function (el) {
                el.style.display = 'none';
            });

        }, 3000);</script>
</body>

</html>