{% extends "layout.html" %}

{% block title %}Profile{% endblock %}
{% block content %}
<div class="main-profile">
    <div class="profile">


        <div class="row justify-content-center text-center row1">

            <div class="col-lg-9">
                <form class="form form-horizontal" role="form" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group ">

                        <div class="col-lg-10 ">
                            <h1 class="text-center">Profile</h1>
                            <div class="input-group mb-3">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                {{ form.username(placeholder="Username",
                                class="form-control") }}

                            </div>
                            {% for error in form.username.errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <div class="input-group mb-4">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                {{ form.email(placeholder="email",
                                class="form-control") }}

                            </div>
                            {% for error in form.email.errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <div class="input-group mb-4">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                {{ form.current_password(placeholder="current password",
                                class="form-control") }}

                            </div>
                            {% for error in form.current_password.errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <div class="input-group mb-4">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                {{ form.password1(placeholder="new password",
                                class="form-control") }}

                            </div>
                            {% for error in form.password1.errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <div class="input-group mb-4">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                {{ form.password2(placeholder="Confirm new password",
                                class="form-control") }}

                            </div>
                            {% for error in form.password2.errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-6 mb-5 ">{{ form.submit(
                        class="btn btn-primary profile-button") }}
                    </div>

                </form>

            </div>

        </div>


    </div>
</div>
{% endblock %}