{% extends "layout.html" %}

{% block content %}
<div class="main-profile">
    <div class="admin-profile">


        <div class="row justify-content-center text-center">

            <div class="col-sm-9">
                <form class="form form-horizontal " role="form" method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-group ">

                        <div class="col-lg-12 admin-profile-col">
                            <h1 class="text-center">Create Users</h1>
                            <div class="input-group mb-3">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                {{ form.name(class="form-control") }}
                                {% for error in form.name.errors %}
                                <p>{{ error }}</p>
                                {% endfor %}
                                <span>
                                    <div class="col-6 mb-5 admin-submit">{{ form.submit(class="btn btn-primary") }}
                                    </div>
                                </span>

                            </div>

                        </div>

                    </div>



                </form>

            </div>

        </div>


    </div>
</div>
{% endblock %}